.header {
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  padding: .5rem 1rem;
  background-color: $white;
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav-item {
    display: inline-block;
    vertical-align: middle;
   .nav-link {
      font-weight: 700;
      font-size: .95rem;
      padding: 1rem;
      letter-spacing: .05rem;
      color: #2c3e50;
      opacity: .6;
      transition: all .2s linear;
      &:hover, &.active {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}